@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anek+Tamil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anek+Tamil&family=Roboto:ital,wght@0,300;1,300&display=swap');


body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
}

h1 {
  font-family: 'Anek Tamil', sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: white;
  inline-size: max-content;

}
h2 {
  font-family: 'Anek Tamil', sans-serif;
  font-size: 20px;
}
.sidePanel {
  position: absolute;
  right: 0px;
  height: 100%; /* 765 pixels dont delete this comment*/
  width: 290px;
  background-color: #22252D;
}

.reeltimeheading {
  font-size: 25px;
  padding-top: 15%;
  text-align: center;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 290px;
  color: white;
  text-align: center;
}


#logo{ 
	position:fixed; 
	top:10px; 
	right:270px;
  width: 10px;
} 

.myform-area .form-area .form-input input{
  height: 60px;
  background-color: #22252D;
}
.myform-area .form-area .form-input input,
.myform-area .form-area .form-input textarea{
  text-transform: capitalize;
  width: 180px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #e1e1e1;
  color: #428BD8;
}
.myform-area .form-area .form-input form .form-group{
  position: relative;
}
.myform-area .form-area .form-input form .form-group label{
  position: absolute;
  top: 30px;
  left: 0;
  pointer-events: none;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 0;
  transition: all .45s;
}
.myform-area .form-area .form-input input:focus ~ label,
.myform-area .form-area .form-input textarea:focus ~ label,
.myform-area .form-area .form-input input:valid ~ label,
.myform-area .form-area .form-input textarea:valid ~ label{
  top: -3px;
  opacity: 0;
  left: 0;
  color: #428BD8;
  font-size: 12px;
  font-weight: bold;
}
.myform-area .form-area .form-input input:focus,
.myform-area .form-area .form-input textarea:focus,
.myform-area .form-area .form-input input:valid,
.myform-area .form-area .form-input textarea:valid{
  border-bottom: 1.5px solid #428BD8;
}