@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anek+Tamil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anek+Tamil&family=Roboto:ital,wght@0,300;1,300&display=swap');


body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
}

h1 {
  font-family: 'Anek Tamil', sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: white;
  inline-size: max-content;

}
h2 {
  font-family: 'Anek Tamil', sans-serif;
  font-size: 20px;
}
.sidePanel {
  position: absolute;
  right: 0px;
  height: 100%; /* 765 pixels dont delete this comment*/
  width: 290px;
  background-color: #22252D;
}

.reeltimeheading {
  font-size: 25px;
  padding-top: 15%;
  padding-bottom: 100%;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 290px;
  color: white;
  text-align: center;
}


#logo{ 
	position:fixed; 
	top:10px; 
	right:270px;
  width: 10px;
} 
